<h1>IoT TCP Server</h1>

<p>Server status records: </p>
<table border="1">
    <tr>
        <td>Date time</td>
        <td>Status</td>
    </tr>
    {% for record in server_records %}
        <tr>
            <td>{{ record.status_change_date_time }}</td>
            <td>{{ record.status }}</td>
        </tr>
    {% endfor %}
</table>

<p>TCP access log: </p>
<table border="1">
    <tr>
        <td>Data time</td>
        <td>Content</td>
    </tr>
    {% for record in server_log %}
    <tr>
        <td>{{ record.receive_date_time }}</td>
        <td>{{ record.raw_data }}</td>
    </tr>
    {% endfor %}
</table>