<h1>IoT TCP Server</h1>

<h3>Current server status: {{ server_status }}</h3>

<p>Turn on/off TCP server (Not available now)</p>
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
<form action="{% url 'operation' %}" method="post">
    {% csrf_token %}
    <input type="radio" name="choice" id="on" value="on"/>
    <label for="on">On</label>
    <input type="radio" name="choice" id="off" value="off"/>
    <label for="off">Off</label>
{#    <input type="submit" value="Change">#}
</form>

<p>Server status records: </p>
<table border="1">
    <tr>
        <td>Date time</td>
        <td>Status</td>
    </tr>
    {% for record in server_records %}
        <tr>
            <td>{{ record.status_change_date_time }}</td>
            <td>{{ record.status }}</td>
        </tr>
    {% endfor %}
</table>

<p>TCP access log: </p>
<table border="1">
    <tr>
        <td>Data time</td>
        <td>Content</td>
    </tr>
    {% for record in server_log %}
    <tr>
        <td>{{ record.receive_date_time }}</td>
        <td>{{ record.raw_data }}</td>
    </tr>
    {% endfor %}
</table>